In [2]:
# packages
import numpy as np
import pandas as pd

In [3]:
# hide warning messages
import warnings
warnings.filterwarnings("ignore")

### Our Factors

In [4]:
day = '20050103'

In [5]:
size_path = f'../../output/data/double_check/size/{day}.csv'
size = pd.read_csv(size_path, index_col=0)

In [6]:
size

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
Time,,,,,,,,,,
93100,-0.000066,0.000156,-0.000017,-0.000049,0.000223,-0.000461,-0.000385,-0.000668,-0.000434,-0.000962
93200,0.000517,-0.000157,-0.000253,0.000233,-0.000314,-0.000049,0.000014,-0.000079,-0.000289,-0.000134
93300,0.000089,-0.000094,0.000136,0.000202,0.000197,0.000742,0.000503,0.000463,0.000707,0.000127
93400,0.000558,0.000537,0.000478,0.000348,0.000465,0.001045,0.000996,0.000864,0.001190,0.000198
93500,0.000400,0.000180,0.000317,0.000433,0.000306,0.000108,-0.000073,-0.000149,-0.000224,-0.000112
...,...,...,...,...,...,...,...,...,...,...
155600,0.000127,0.000014,0.000080,0.000115,0.000062,0.000091,0.000171,0.000108,0.000209,0.000082
155700,0.000318,0.000052,0.000111,0.000041,-0.000004,0.000213,0.000141,-0.000070,0.000073,-0.000069
155800,0.000201,0.000164,0.000163,0.000107,0.000146,0.000174,-0.000010,0.000118,0.000113,0.000079
155900,0.000328,0.000295,0.000220,0.000271,0.000256,0.000429,0.000703,0.000459,0.000425,0.000225
160000,0.000496,0.000759,0.000501,0.000222,0.000610,0.000817,0.000972,0.000814,0.000613,0.000351

### Kozak's Factors

File naming convention:

* ret10_ANOM.csv: value-weighted returns on each of the p1-p10 portfolios for an anomaly ANOM
* n10_ANOM.csv: number of firms in each portfolio
* bmc10_ANOM.csv: book-to-market ratios of portfolios
* totalme10_ANOM.csv: total market capitalization of each portfolio

p1-p10: corresponding variables for each of the p1 (short) -- p10 (long) portfolios

In [ ]:
# criando um range de datas Ãºteis
business_dates = pd.bdate_range('2005-01-01', '2019-12-31')

In [ ]:
factor = 'size'

In [ ]:
kozak_n_path = f'../../input/kozak/daily/n10_{factor}.csv'
kozak_size_n = pd.read_csv(kozak_n_path, index_col=0)

In [ ]:
kozak_size_n.index = pd.to_datetime(kozak_size_n.index)

In [ ]:
kozak_size_n.loc[df.index]

             p1   p2   p3   p4   p5   p6   p7   p8   p9  p10
2005-01-03  598  423  333  333  269  256  283  258  269  325
2005-01-04  598  423  333  333  269  256  283  258  269  325
2005-01-05  598  423  333  333  269  256  283  258  269  325
2005-01-06  598  423  333  333  269  256  283  258  268  325
2005-01-07  598  423  333  332  269  256  283  258  268  324
...         ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2019-12-24  295  308  259  281  227  212  269  256  253  252
2019-12-26  295  308  259  281  227  213  269  256  253  252
2019-12-27  295  308  259  281  227  213  269  256  253  252
2019-12-30  295  308  259  281  227  213  268  256  252  252
2019-12-31  295  308  259  281  227  213  268  256  251  252

[3773 rows x 10 columns]

In [ ]:
kozak_ret_path = f'../../input/kozak/daily/ret10_{factor}.csv'
kozak_size = pd.read_csv(kozak_ret_path, index_col=0)

In [ ]:
kozak_size.index = pd.to_datetime(kozak_size.index)

In [ ]:
kozak_size = kozak_size.loc[df.index]

In [ ]:
kozak_size

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,-0.006628,-0.013151,-0.014393,-0.015365,-0.015594,-0.015541,-0.016897,-0.019342,-0.017297,-0.011137
2005-01-04,-0.010999,-0.012918,-0.015597,-0.016811,-0.019032,-0.019290,-0.018520,-0.020069,-0.019577,-0.014108
2005-01-05,-0.002090,-0.006287,-0.007795,-0.008968,-0.010919,-0.014113,-0.017090,-0.016599,-0.016892,-0.010783
2005-01-06,0.003687,0.003149,0.003750,0.004514,0.004040,0.003846,0.003914,0.002597,0.002339,0.002032
2005-01-07,-0.000834,-0.000198,-0.002372,-0.004236,-0.005150,-0.010726,-0.010339,-0.010229,-0.010556,-0.004465
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,-0.000321,0.001343,0.000300,-0.000053,-0.000103,0.001935,0.003392,0.005824,0.006321,0.007907
2019-12-26,0.006444,0.002105,0.001888,0.002851,0.000310,0.000140,-0.002035,-0.004853,0.002493,0.003839
2019-12-27,0.000065,-0.001251,-0.001972,-0.002798,-0.005732,-0.004607,-0.006413,-0.008806,-0.009984,-0.006062
2019-12-30,-0.006451,-0.004474,-0.004991,-0.002140,-0.003201,-0.003586,-0.001801,-0.003122,-0.003745,-0.000570
2019-12-31,0.002692,0.003161,0.003985,0.002323,0.001679,0.003060,0.003589,0.002782,0.004529,0.010211

In [ ]:
factor = 'value'

In [ ]:
kozak_ret_path = f'../../input/kozak/daily/ret10_{factor}.csv'
kozak_value = pd.read_csv(kozak_ret_path, index_col=0)

In [ ]:
kozak_value.index = pd.to_datetime(kozak_value.index)

In [ ]:
kozak_value = kozak_value.loc[df.index]

In [ ]:
corr_matrix_kozak = pd.DataFrame(index=kozak_size.columns, columns=kozak_value.columns)

In [ ]:
corr_matrix_kozak

In [ ]:
size_decile = kozak_size.columns[]

In [ ]:
value_decile = kozak_value.columns[0]

In [ ]:
corr_matrix_kozak[size_decile][value_decile]

In [ ]:
for size_decile in kozak_size.columns:
    for value_decile in kozak_value.columns:
        corr_matrix_kozak[size_decile][value_decile] = kozak_size[size_decile].corr(kozak_value[value_decile])

In [ ]:
corr_matrix_kozak